.about-candela {
  position: relative;
  &::before{
    content: '';
    background: url(images/more-about-candela-bg.png) top center no-repeat;
    height: 100%;
    width: 412px;
    position: absolute;
    top: 50px;
    @media (max-width: 991.98px) {
      display:none;
    }
  }
  h2 {
    color: $color-secondary-light;
    font-size: 3.5rem;
    font-weight: 200;
    letter-spacing: 6px;
    position: relative;
    margin-bottom: 1.563rem;
    &::after{
      content: '';
      position: absolute;
      height: 12px;
      width: 110px;
      border-radius: 20px;
      background: $color-secondary-light;
      bottom: 0;
      left: calc(50% - 110px /2 );
    }
    @media (max-width: 991.98px) { 
      font-size: 1.5rem;
      line-height: 1.8rem;
      letter-spacing: 3px;
      &::after{
        height: 6px;
        width: 55px;
        left: calc(50% - 55px /2 );
      }
    }
  }
  
  p {
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.875rem;
    width: 70%;
    @media (max-width: 991.98px) {  
      font-size: 1rem;
      margin-bottom: 1.2rem;
      width: auto;
      line-height: 1.2rem;
    }
  }
  
  .card {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    .card-thumb {
      position: relative;
      display: inline-block;
      ::after{
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        background-image: linear-gradient(to bottom, #00000000 0%, #0000000f 100%);
        z-index: 1;
      }
    }
    .card-title {
      margin-bottom: 0;
      position: absolute;
      z-index: 1111;
      top: 0;
      margin-top: 25%;
      color: $color-secondary-light;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 1.25rem;
      padding-bottom: 10px;
      margin-left: 20px;
      @media (max-width: 576px) {  
        font-size: 1.25rem;
        line-height: 1rem;
      }
      &::after{
        content: '';
        position: absolute;
        height: 4px;
        width: 40px;
        border-radius: 20px;
        background: $color-secondary-light;
        bottom: 0;
        left: 0;
        top: 100%;
      }
    }
    .card-img-top {     
      border-radius: 10px 10px 0 0;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
      vertical-align: middle;
      min-height: 200px;
      @media (max-width: 991.98px) {
        min-height: auto;
      }
    }
    .card-body {
      padding: 1.25rem;
      border-radius: 0px 0px 10px 10px;
      min-height: 195px;
      display: block;
      @media (max-width: 991.98px) {  
        min-height: auto;
      }
      p {
        line-height: 1.414rem;
        font-weight: 200;
        font-size: 1.125rem;
        width: 100%;
        text-align: center;
        @media (max-width: 576px) {  
          line-height: 1.414rem;
          font-size: 1rem;    
        } 
        &hover {
          opacity: 0.8;
        }
        strong {
          color: $color-secondary-dark;
          font-weight: 600;
        }
      }
    }
  }
  
}