.navbar {
  background-color: transparent;
  
  &-margin {
    margin-top: 85px;
    @media (max-width: 991.98px) {
      margin-top: 30px;
    }
  }
  
  .dropdown-item {
    font-size: 0.813rem;
    color: $color-primary-dark;
    font-weight: 700;
    
    &:hover,
    &:focus {
      color: $color-secondary-light;
      background-color: transparent;
    }
    
    &.active,
    &:active {
      color: $color-secondary-light;
      background-color: transparent;
    } 
  }
  
  .navbar-nav {
    margin-top: 15px;
    .nav-link {
      color: $color-white;
      font-size: 0.938rem;
      font-weight: 700;
      padding-right: 1.2rem!important;
      padding-left: 1.2rem!important;
      @media (max-width: 991.98px) { 
        padding-right: 0!important;
        padding-left: 0!important;
      }
      
      &::before {
        display: none;
        content: '';
        position: absolute;
        background: url(images/menu-hover.svg) center center no-repeat;
        width: 11px;
        height: 28px;
        z-index: 111;
        top: 10px;
        bottom: 0;
        @media (max-width: 991.98px) { 
          display:none;
        }
      }
      
      
      &:hover,
      &:focus {
        color: $color-secondary-light;
        &::before {
          display: block;
          @media (max-width: 991.98px) {
            display: none;
          }
        }
      }
    }
    
    .show > .nav-link,
    .nav-link.active {
      color: $color-secondary-light;
      &::before {
        display: block;
        content: '';
        position: absolute;
        background: url(images/menu-hover.svg) center center no-repeat;
        width: 11px;
        height: 28px;
        z-index: 111;
        top: 10px;
        bottom: 0;
        @media (max-width: 991.98px) {
          display: none;
        }
      }
    }
    
    a.nav-link.dropdown-toggle {
      &::before {
        display: none;
      }
    }
  }
  
  @media (max-width: 991.98px) {
    background-color: $color-primary-dark!important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    .navbar-brand  {
      img {
        height: 42px;
      }
    }
    
    .offcanvas-collapse {
      position: fixed;
      top: 98px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: $color-primary-dark;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
      
      &-margin {
        top: 68px; /* Height of navbar */
      }
    }
    .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(-100%);
    }
  }
}