.services {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(140, 140, 140, 0.05) 100%);
  position: relative;
  &::before{
    content: '';
    background: url(images/forma-1.png) top right no-repeat;
    opacity: 0.04;
    transform: rotate(45deg);
    height: 267px;
    width: 119px;
    position: absolute;
    bottom: 0;
    z-index: 111;
    left: calc(100% - 149px);
    bottom: calc(100% - 200px);
    @media (max-width: 991.98px) {
      display:none;
    }
  }
  
  .col-service {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 991.98px) {
      display: none;
      &:nth-child(1) {
        display: flex;
      }
      &:nth-child(2) {
        display: flex;
      }
      &:nth-child(3) {
        display: flex;
      }
      &:nth-child(4) {
        display: flex;
      }
    }
  }
  
  #loadmore {
    display: none;
    width: 100%;
    color: #799B9E;
    border: 0;
    height: 154px;
    position: relative;
    z-index: 111;
    margin-top: -264px;
    padding-top: 100px;
    background: url(images/sombra-servicos-mobile.svg) center center repeat-x;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-primary-dark;
    align-items: center;
    justify-content: center;
    i {
      margin-right: 10px;
      font-weight: bold;
      font-size: 48px;
      line-height: 18px;
      color: $color-primary-light;
    }
    @media (max-width: 991.98px)  {
      display: flex;
    }
  }
  
  h2 {
    color: $color-primary-dark;
    font-size: 3.5rem;
    font-weight: 200;
    letter-spacing: 6px;
    position: relative;
    margin-bottom: 1.563rem;
    &::after{
      content: '';
      position: absolute;
      height: 12px;
      width: 110px;
      border-radius: 20px;
      background: $color-primary-light;
      bottom: 0;
      left: calc(50% - 110px /2 );
    }
    @media (max-width: 991.98px) { 
      font-size: 1.5rem;
      line-height: 1.8rem;
      letter-spacing: 3px;
      &::after{
        height: 6px;
        width: 55px;
        left: calc(50% - 55px /2 );
      }
    }
  }
  
  p {
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.875rem;
    width: 70%;
    @media (max-width: 991.98px) {  
      font-size: 1rem;
      margin-bottom: 1.2rem;
      width: auto;
      line-height: 1.2rem;
    }
  }
  
  .btn {
    font-weight: 700;
    font-size: 1.375rem;
    letter-spacing: 2px;
    color: $color-white;
    background-color: $color-primary-dark;
    border-radius: 30px;
    padding: 0.3rem 1.4rem;
    @media (max-width: 991.98px) {  
      font-size: 1rem;
    }
    &:hover {
      opacity: 1;
      color: $color-white;
      background-color: $color-secondary-dark;
    }
    
    .btn-check:focus + &,
    &:focus {
      opacity: 1;
      color: $color-white;
      background-color: $color-secondary-dark;
    }
    
    .btn-check:checked + &,
    .btn-check:active + &,
    &:active,
    &.active {
      opacity: 1;
      color: $color-white;
      background-color: $color-secondary-dark;
      
      &:focus {
        opacity: 1;
        color: $color-white;
        background-color: $color-secondary-dark;
      }
    }
  }
  
  #btn-services {
    @media (max-width: 991.98px) {
      display: none;
    }
  }
  
  .col {
    position: relative;
    &:hover {
      .icon-square {
        border-color: $color-primary-dark;
        img {
          filter: grayscale(0);
        }
      }
      .btn {
        box-shadow: none!important;
        opacity: 1;
        color: $color-white;
        background-color: $color-secondary-dark;
        border-radius: 30px;
      }
    }
    .icon-square {
      border-color: $color-primary-light;
      border-style: solid;
      img {
        height: 120px;
        width: 120px;
        object-fit: cover;
        vertical-align: middle;
        filter: grayscale(1);
      }
    }
    p {
      font-size: 1.125rem;
      font-weight: 200;
      line-height: 1.2rem;
      @media (max-width: 991.98px) {  
        line-height: 1.125rem;
      }
      
    }
    h4 {
      color: $color-primary-dark;
      font-weight: 700;
      font-size: 1.125rem;
      margin-bottom: 0.7rem;
    }
    .btn {
      border-color:$color-secondary-dark;
      border-style: solid;
      border-radius: 30px;
      font-size: 0.813rem;
      color:$color-secondary-dark;
      font-weight: 700;
      letter-spacing: 2px;
      padding:.33rem .75rem;
      background-color: transparent;
      &:hover {
        box-shadow: none!important;
        opacity: 1;
        color: $color-white;
        background-color: $color-secondary-dark;
      }
      
      .btn-check:focus + &,
      &:focus {
        box-shadow: none!important;
        opacity: 1;
        color: $color-white;
        background-color: $color-secondary-dark;
      }
      
      .btn-check:checked + &,
      .btn-check:active + &,
      &:active,
      &.active {
        box-shadow: none!important;
        opacity: 1;
        color: $color-white;
        background-color: $color-secondary-dark;
        
        &:focus {
          box-shadow: none!important;
          opacity: 1;
          color: $color-white;
          background-color: $color-secondary-dark;
        }
      }
    }
    
  }
}