//Brand colors
//Primary
$color-primary-dark: #20585e;
$color-primary-medium: #4d797e;
$color-primary-light: #799b9e;

//Secondary
$color-secondary-dark: #a37a39;
$color-secondary-medium: #b59561;
$color-secondary-light: #c8af88;

//Solid colors
$color-black-secondary: #0f0f0f;
$color-off-white: #e4ece3;
$color-grey-medium: #9b9b9b;
$color-grey-light: #c9c9c9;

//Default colors
$color-black: #000000;
$color-white: #FFFFFF;

//Backgrounds
.background-green-dark {
  background-color: $color-primary-dark!important;
}

.background-green-medium {
  background-color: $color-primary-medium;
}

.background-green-light {
  background-color: $color-primary-light;
}

.background-mustard-dark {
  background-color: $color-secondary-dark;
}

.background-mustard-medium {
  background-color: $color-secondary-medium;
}

.background-mustard-light {
  background-color: $color-secondary-light;
}

.background-black-secondary {
  background-color: $color-black-secondary;
}

.background-off-white {
  background-color: $color-off-white;
}

.background-grey-medium{
  background-color: $color-grey-medium;
}

.background-grey-light{
  background-color: $color-grey-light;
}

.background-black {
  background-color: $color-black;
}

.background-white {
  background-color: $color-white;
}
