	.btn {
    border: 0;
    &:hover {
      box-shadow: none!important;
      opacity: 0.9;
    }
    
    .btn-check:focus + &,
    &:focus {
      box-shadow: none!important;
    }
    
    .btn-check:checked + &,
    .btn-check:active + &,
    &:active,
    &.active {
      box-shadow: none!important;
      
      &:focus {
        box-shadow: none!important;
      }
    }
  }